@{
    ViewBag.Title = "Passwort ändern";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h2>
    Hier kannst du dein Passwort ändern</h2>
<p>
    Das Passwort muss mindestens aus @ViewData["PasswordLength"] Zeichen bestehen.
</p>
@Html.ValidationSummary("Upps... es gab Problem beim Ändern des Passwortes. Siehe Meldungen:")
@using (Html.BeginForm())
{
    <div>
        <p>
            <label for="currentPassword">
                Aktuelles Passwort</label>
            @Html.Password("currentPassword")
            @Html.ValidationMessage("currentPassword")
        </p>
        <p>
            <label for="newPassword">
                Neues Passwort</label>
            @Html.Password("newPassword")
            @Html.ValidationMessage("newPassword")
        </p>
        <p>
            <label for="confirmPassword">
                Neues Passwort wiederholen</label>
            @Html.Password("confirmPassword")
            @Html.ValidationMessage("confirmPassword")
        </p>
        <p>
            <input type="submit" value="Passwort ändern" />
        </p>
    </div>
}