@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination
@using Sporty.Common
@using Sporty.ViewModel
@using Sporty.Helper;
@model IEnumerable<GoalView>
@{
    ViewBag.Title = "Übersicht der Ziele";
}

<div id="tableInfo" class="row">
    @Html.Grid(Model).Columns(column =>
                                        {
                                            column.Custom(
                                                @<div>
                                                     <a class="agoalModal" href="@Url.Action("Edit", "Goal", new {item.Id})">
                                                         <img src="@Url.Content("~/Content/images/pencil.png")" class="ExerciseDetails" alt="Details" /></a>
                                                    <a class="deleteButton" href="@Url.Action("Delete", "Goal", new {item.Id})"  title="Ziel löschen?">
                                                             <img src="@Url.Content("~/Content/images/delete.png")" class="ExerciseDelete" alt="L&ouml;schen" /></a>
                                                 </div>
                                                ).Sortable(false).Attributes(@style => "width: 40px;");
                                            column.For(m => m.Date.ToString("d", CultureHelper.DefaultCulture)).Named("Datum").SortColumnName("Date");
                                            column.For(m => m.Name).Named("Name");
                                            column.For(m => (m.Description != null && m.Description.Length > 30 ?
                                                                                                                    String.Format("{0}...", m.Description.Substring(0, 30)) : m.Description))
                                                .Named("Beschreibung").SortColumnName("Description");
                                        }).Sort(ViewData["sort"] as GridSortOptions).Attributes(@class => "table table-striped table-bordered table-hover")
    @Html.BootstrapPager((IPagination<GoalView>) Model)
</div>